$main-font: "Raleway";
$white: #fff;
$black: #000;
$light-black: rgba(0, 0, 0, 0.1);
$grey: #4c4c4c;
$light-grey: rgba(201, 201, 255, 0.85);
$blue: #08c;
$dark-blue: #1b1b38;
$light-blue: #7979ff;
$pink: #c32aa3;
$green: #0e8784;
$light-green: #4fce5d;
$pic-shadow: 0 7px 10px rgba(50, 50, 93, 0.1), 0 3px 4px rgba(0, 0, 0, 0.06);
$item-shadow: 0 7px 10px rgba(50, 50, 93, 0.1), 0 3px 4px rgba(0, 0, 0, 0.06);
$gradient-email: linear-gradient(
  90deg,
  rgba(2, 0, 36, 1) 0%,
  rgba(9, 9, 121, 1) 35%,
  rgba(0, 212, 255, 1) 100%
);
