@import "../../scss/variables.scss";
@import "../../scss/mixin.scss";

.hero__list {
  padding: 15px 0;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.hero__item {
  border-radius: 15px;
  box-shadow: $item-shadow;
}
.hero__item:first-child {
  background-color: $blue;
}
.hero__item:nth-child(2) {
  background-color: $pink;
}
.hero__item:nth-child(3) {
  background-color: $light-green;
}
.hero__item:nth-child(4) {
  background-color: $grey;
}
.hero__item:last-child {
  background-color: $green;
}
.hero__item:hover {
  background-color: $black;
  transition: 0.3s ease all;
}
.hero__item-link {
  display: flex;
  align-items: center;
}
.hero__item-logo {
  padding: 15px;
  border-right: 1px solid $light-black;
}
.hero__item-logo svg {
  width: 40px;
  height: 40px;
  color: $white;
}
.hero__item-title {
  padding-left: 15px;
  @include title;
  font-size: 16px;
}
