.site-header__block {
  display: flex;
  column-gap: 30px;
  margin-bottom: 15px;
}
.site-header__pic {
  width: 170px;
  height: 170px;
  background-image: url("../../images/profile-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  box-shadow: $pic-shadow;
}
.site-header__content-title {
  @include title;
}
.site-header__content-location {
  margin: 13px 0 15px 0;
  padding: 8px 15px 8px 12px;
  @include text;
  border: 2px solid $light-blue;
  border-radius: 25px;
  display: inline-block;
  &::before {
    content: "";
    width: 16px;
    height: 16px;
    background-image: url("../../images/location-icon.svg");
    background-repeat: no-repeat;
    vertical-align: text-bottom;
    margin-right: 3px;
    display: inline-block;
  }
}
.site-header__content-job {
  @include text;
  font-size: 16px;
  color: $light-grey;
}

@media only screen and (max-width: 550px) {
  .site-header__block {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
  }
  .site-header__content {
    margin-top: 17px;
  }
}
